<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>SB Admin - Login</title>

    <!-- Bootstrap core CSS-->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom fonts for this template-->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom styles for this template-->
    <link th:href="@{css/sb-admin.css}" rel="stylesheet"/>

</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Something is wrong with username and password
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    You have been logged out.
                </div>
            </div>
            <div class="span12">
                <div th:if="${success !=null}">
                    <div class="alert alert-success">
                        <strong th:text="${success}"></strong>
                    </div>
                </div>
                <div th:if="${error != null}">
                    <div class="alert alert-danger">
                        <strong th:text="${error}"></strong>
                    </div>
                </div>
            </div>
            <form th:action="@{/login}" method="post" id="formSubmit">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="inputUserName" name="username" class="form-control" placeholder="UserName" required="required" autocomplete="off" autofocus="autofocus"/>
                        <label for="inputUserName">UserName</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required"/>
                        <label for="inputPassword">Password</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"/>
                            Remember Password
                        </label>
                    </div>
                </div>
                <a href="javascript:void(0)" onclick="document.getElementById('formSubmit').submit();" class="btn btn-primary btn-block" >Login</a>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" th:href="@{/register}">Register an Account</a>
                <a class="d-block small" th:href="@{/forgetPassword}">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

</body>

</html>
